/*
* GLOBAL VARIABLES
*/
$BASE_FONT_SIZE: 12px;

$actionable: rgb(160, 201, 262);
$actionableHover: rgb(150, 201, 252);
$liParentRed: rgb(192, 35, 40);
$liParentRedHover: rgba(192, 35, 40, 0.90);
$liSub1Red: rgb(160, 26, 30);
$liSub1RedHover: rgba(160, 26, 30, 0.90);
$liSub2Red: rgb(129, 13, 15);
$liSub2RedHover: rgba(129, 13, 15, 0.90);
$liSub3Red: rgb(110, 10, 11);
$liSub3RedHover: rgba(110, 10, 11, 0.90);

$blueGlow: #22CFA7;

$white: rgba(255, 255, 255, 0.9);
$fontWhite: rgba(255, 255, 255, 0.9);
$fontWhiteHover: rgba(255, 255, 255, 0.5);
$fontLight: rgba(230, 230, 230, 0.9);
$fontLightHover: rgba(255, 255, 255, 0.9);
$fontGray: rgba(180, 182, 184, 0.9);
$fontGray1: #111;
$fontRed: rgb(192, 35, 40);
$fontGreen: #86BE75;
$fontBlack: rgba(0, 0, 0, 0.9);
$fontBlackHover: rgba(40, 40, 40, 0.9);

$lightBackground: rgba(222, 225, 227, 0.9);
$lightBorderColor: rgba(150, 150, 150, 0.3);
$lightBorder: 1px solid $lightBorderColor;
$whiteBorder: 1px solid $white;
$whiteSelectedBorder: 3px solid $white;
$lightBorderColorRed: rgba(205, 55, 55, 1);
$darkBackground: rgba(30, 32, 34, 0.9);
$lightBlueBackground: #3a617e;
$lightBlueBackgroundHover: #4b728f;
$darkBlueBackground: #29506D;
$darkBlueBackgroundHover: #18405c;
$lightGreenBackground: #C3D49B;
$darkGreenBackground: #7C8764;
$darkBorderColor: rgba(0, 0, 0, 0.5);
$darkBorder: 1px solid $darkBorderColor;
$black: #000000;
$red: #BB250E;
$red-hover: #AA0000;
$green: #39A017;
$green-hover: #2E8212;
$blue: #2A58D2;
$blue-bg-hover: #336BCB;
$black-bg: $black;
$black-bg-hover: #111111;
$gray-bg-1: #111111;
$gray-bg-1-hover: #191919;
$gray-bg-2: #222222;
$gray-bg-2-hover: #2a2a2a;
$gray-bg-3: #333333;
$gray-bg-3-hover: #3b3b3b;
$gray-bg-4: #444444;
$gray-bg-4-hover: #4c4c4c;
$gray-bg-5: #555555;
$gray-bg-5-hover: #5d5d5d;
$gray-bg-6: #676767;
$gray-bg-6-hover: #6f6f6f;
$gray-bg-a: #aaaaaa;
$gray-bg-a-hover: #b1b1b1;
$gray-bg-7: #777777;
$gray-bg-7-hover: #7f7f7f;
$gray: $gray-bg-3;
$selected-border: $gray-bg-7 solid 3px;


/* Main site styles */
body {
	font-size: $BASE_FONT_SIZE;
	font-weight: 200;
	letter-spacing: 1px;
	background-color: $black;
}
html, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "acumin-pro", Helvetica, "sans-serif", sans;
}
img.fill {
	object-fit: contain;
}
table, tr, td {
	border: $lightBorder;
	border-collapse: collapse;
}

td {}

header {
	width: 100%;
	margin: 0;
	padding: 0;
}
span, strong {
	display: inline-block;
}
input, input:-webkit-autofill, textarea {
	border: 1px solid $gray-bg-3;
	margin-right: 1px;
	margin-bottom: 1px;
	background-color: $gray-bg-2;
	-webkit-text-fill-color: $fontWhite;
    -webkit-box-shadow: 0 0 0px 1000px $gray-bg-2 inset;
	color: $fontWhite;
}
input:focus, textarea:focus {
	outline: 0;
	border: 1px solid $gray-bg-4;
}
input[disabled], input[disabled]:-webkit-autofill, textarea[disabled], select[disabled] {
	color: #888 !important;
	background-color: $gray-bg-1 !important;
	border: 1px solid $gray-bg-7;
    -webkit-box-shadow: 0 0 0px 1000px $gray-bg-1 inset;
	-webkit-text-fill-color: #888 !important;
	font-weight: 200;
	-webkit-touch-callout: none;
	-webkit-user-select: none;  
	-khtml-user-select: none;   
	-moz-user-select: none;     
	-ms-user-select: none;      
	user-select: none; 
	cursor: not-allowed !important;
}
input[type="checkbox"], input[type="radio"] {
	background-color: $gray-bg-4;
	border-color: $gray-bg-a;
	-webkit-box-shadow: none;
}
button {
	border: 0;
	align-self: baseline;
	width: auto;
	text-align: left;
}
button:focus {
	outline: 0;
}
label {
	font-weight: 200;
}
select {
	font-size: $BASE_FONT_SIZE;
	margin: 1px;
	border: 1px solid $gray-bg-3;
	outline: 0;
	height: 3em;
	background-color: $gray-bg-2;
	color: $fontWhite;
	width: 100%;
}
select:focus {
	outline: 1px solid $gray-bg-4;
	padding: 1px;
	height: 3em;
	margin: 1px;
}
a {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: $actionable;
}
a:hover {
	text-decoration: none;
	color: $actionableHover;
}
a > li {
	margin: 0;
}
ul, li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-position: inside;
	position: relative;
}
ol {
	margin: 0;
	padding: 0;
}
ol > li {
	list-style-type: decimal;
	list-style-position: outside;
}
details summary {
	outline: none;
	cursor: pointer;
}
.parent-red,
.sub1-red,
.sub2-red {
	color: $fontWhite;
}
.parent-red {
	background-color: $liParentRed;
}
.parent-red-hover:hover {
	background-color: $liParentRedHover;
}
.sub1-red {
	background-color: $liSub1Red;
}
.sub1-red:hover {
	background-color: $liSub1RedHover;
}
.sub2-red {
	background-color: $liSub2Red;
}
.sub2-red:hover {
	background-color: $liSub2RedHover;
}
.sub3-red {
	background-color: $liSub3Red;
}
.sub3-red:hover {
	background-color: $liSub3RedHover;
}

/**
 *
 *	GLOW
 * 
 */
.glow {
	box-shadow: 0 0 10px $blueGlow;
}
.glow-hover {

}

/* UTILITY CLASSES */
.actionable {
	color: $actionable;
	cursor: pointer;
}
.actionable:hover, .actionable:hover * {
	color: $actionableHover;
	text-decoration: none;
}
.actionable.active {
	color: $fontWhite;
}
.list-icon {
	font-size: 20px;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/**
 * 
 * COLOR CLASSES
 * 
 */
.rounded-rect-bg {
	border-radius: 0.5em;
	font-size: 0.9em;
	text-align: center;
	padding: 0.25em 0.5em;
	border: $darkBorder;
}
.circle-bg {
	border-radius: 50%;
	text-align: center;
	padding: 0.9em;
	border: $darkBorder;
}
.black-bg, .black-bg-hover, .black-circle-bg, .black-rounded-rect-bg {
	background-color: $black-bg;
}
.black-bg-hover:hover {
	background-color: $black-bg-hover;
}
.black-circle-bg, .black-rounded-rect-bg {
	color: $white;
}
.gray-bg-1, .gray-bg-1-hover {
	background-color: $gray-bg-1;
}
.gray-bg-1-hover:hover {
	background-color: $gray-bg-1-hover;
}
.gray-bg-2, .gray-bg-2-hover {
	background-color: $gray-bg-2;
}
.gray-bg-2-hover:hover {
	background-color: $gray-bg-2-hover;
}
.gray-bg-3, .gray-bg-3-hover {
	background-color: $gray-bg-3;
}
.gray-bg-3-hover:hover {
	background-color: $gray-bg-3-hover;
}
.gray-bg-4, .gray-bg-4-hover {
	background-color: $gray-bg-4;
}
.gray-bg-4-hover:hover {
	background-color: $gray-bg-4-hover;
}
.gray-bg-5, .gray-bg-5-hover {
	background-color: $gray-bg-5;
}
.gray-bg-5-hover:hover {
	background-color: $gray-bg-5-hover;
}
.gray-bg-6, .gray-bg-6-hover {
	background-color: $gray-bg-6;
}
.gray-bg-6-hover:hover {
	background-color: $gray-bg-6-hover;
}
.gray-bg-7, .gray-bg-7-hover {
	background-color: $gray-bg-7;
}
.gray-bg-7-hover:hover {
	background-color: $gray-bg-7-hover;
}

.black-gradient-bg {
	background: rgb(69,72,77); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.black-gradient-bg-hover:hover {
	background-color: #010203;
}

.light-bg {
	background-color: $lightBackground;
}
.dark-bg {
	background-color: $darkBackground;
}
.red-bg, .red-bg-hover, .red-circle-bg, .red-rounded-rect-bg {
	background-color: $red;
}
.red-bg-hover:hover {
	background-color: $red-hover;
}
.red-circle-bg, .red-rounded-rect-bg {
	color: $white;
}
.green-bg, .green-bg-hover, .green-circle-bg, .green-rounded-rect-bg {
	background-color: $green;
}
.green-bg-hover:hover {
	background-color: $green-hover;
}
.green-circle-bg, .green-rounded-rect-bg {
	color: $white;
}
.blue-bg, .blue-bg-hover, .blue-circle-bg, .blue-rounded-rect-bg {
	background-color: $blue;
}
.blue-bg-hover:hover {
	background-color: $blue-bg-hover;
}
.blue-circle-bg, .blue-rounded-rect-bg {
	color: $white;
}
.light-blue-bg {
	background-color: $lightBlueBackground;
}
.light-blue-bg-hover:hover {
	background-color: $lightBlueBackgroundHover;
}
.dark-blue-bg {
	background-color: $darkBlueBackground;
}
.dark-blue-bg-hover:hover {
	background-color: $darkBlueBackgroundHover;
}
.light-green-bg {
	background-color: $lightGreenBackground;
}
.dark-green-bg {
	background-color: $darkGreenBackground;
}
.dark-bg-hover:hover {
	background-color: rgba(0, 10, 20, 0.05);
}
.light-border {
	border: 1px solid $lightBorderColor;
}
.light-border-top {
	border-top: 1px solid $lightBorderColor;
}
.light-border-bottom {
	border-bottom: 1px solid $lightBorderColor;
}
.light-border-bottom-red {
	border-bottom: 1px solid $lightBorderColorRed;
}
.light-border-left {
	border-left: 1px solid $lightBorderColor;
}
.light-border-left-red {
	border-left: 1px solid $lightBorderColorRed;
}
.light-border-right {
	border-right: 1px solid $lightBorderColor;
}
.light-border-right-red {
	border-right: 1px solid $lightBorderColorRed;
}
.dark-border {
	border: $darkBorder;
}
.dark-border-top {
	border-top: $darkBorder;
}
.dark-border-bottom {
	border-bottom: $darkBorder;
}
.dark-border-left {
	border-left: $darkBorder;
}
.dark-border-right {
	border-right: $darkBorder;
}
.white-bg, .white-circle-bg {
	background-color: $white;
}
.white-circle-bg {
	color: $black;
}
.white-border {
	border: $whiteBorder;
}
.white-border-selected {
	border: $whiteSelectedBorder;
}
.white-border-top {
	border-top: 1px solid $white;
}
.white-border-bottom {
	border-bottom: 1px solid $white;
}
.white-border-bottom-red {
	border-bottom: 1px solid $white;
}
.white-border-left {
	border-left: 1px solid $white;
}
.white-border-left-red {
	border-left: 1px solid $white;
}
.gray-border {
	border: 1px solid $gray;
}
.gray-border-top {
	border-top: 1px solid $gray;
}
.gray-border-bottom {
	border-bottom: 1px solid $gray;
}
.gray-border-bottom-red {
	border-bottom: 1px solid $gray;
}
.gray-border-left {
	border-left: 1px solid $gray;
}
.gray-border-left-red {
	border-left: 1px solid $gray;
}
.selected-border {
	outline: $selected-border;
}

/*
*
*	FONT
*
 */
.font-white, .font-white-hover {
	color: $fontWhite;
}
.font-white-hover:hover {
	color: $fontWhiteHover;
}
.font-black, .font-black-hover {
	color: $fontBlack;
}
.font-black-hover:hover {
	color: $fontBlackHover;
}
.font-light, .font-light-hover {
	color: $fontLight;
}
.font-light-hover:hover {
	color: $fontLightHover;
}
.font-gray {
	color: $fontGray;
}
.font-gray-1 {
	color: $fontGray1;
}
.font-red {
	color: $fontRed;
}
.font-green {
	color: $fontGreen;
}
.no-highlight, 
text.no-highlight, 
tspan.no-highlight, 
text.no-highlight tspan {
	user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: inherit !important;
}
text.no-highlight, 
tspan.no-highlight, 
text.no-highlight tspan {
	user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    pointer-events: none;
    cursor: inherit !important;
}
path.painted-fill, rect.painted-fill, circle.painted-fill {
	pointer-events: painted;
}

/**
 *
 *	CURSOR
 * 
 */
.pointer {
	cursor: pointer;
}
.col-resize {
	cursor: col-resize;
}
.grab {
	cursor: grab;
	cursor: -webkit-grab; 
	cursor: -moz-grab;
}
.grabbing {
	cursor: grabbing;
	cursor: -webkit-grabbing; 
	cursor: -moz-grabbing;
}
.ns-resize {
	cursor: ns-resize;
	cursor: -webkit-ns-resize; 
	cursor: -moz-ns-resize;
}
.pointer-events-none {
	pointer-events: none;
}

/**
 *
 *	 STRUCTURAL CLASSES
 * 
 */
.dropdown {
	z-index: 1000;
	box-shadow: 0px 0px 10px #000;
}

/**
 *
 *	FONT CLASSES
 * 
 */
.capitalize {
	text-transform: capitalize;
}
.lowercase {
	text-transform: lowercase;
}
.uppercase {
	text-transform: uppercase;
}

/**
 *
 *	MAIN UI-VIEW CONTAINER
 * 
 */
#main-contents {
	// z-index: -1;
}

/*===============================
*
*
*	MODULE-SPECIFIC CSS IMPORTS
*
*
*===============================*/

@import 
	'icons',
	'../common/common',
	'../modules/user/user',
	'../modules/nav/nav',
	'../modules/playbook/playbook',
	'../modules/planning/planning',
	'../modules/analysis/analysis';











