/*
* GLOBAL VARIABLES
*/
$BASE_FONT_SIZE: 12px;

$actionable: rgb(160, 201, 262);
$actionableHover: rgb(150, 201, 252);
$liParentRed: rgb(192, 35, 40);
$liParentRedHover: rgba(192, 35, 40, 0.90);
$liSub1Red: rgb(160, 26, 30);
$liSub1RedHover: rgba(160, 26, 30, 0.90);
$liSub2Red: rgb(129, 13, 15);
$liSub2RedHover: rgba(129, 13, 15, 0.90);
$liSub3Red: rgb(110, 10, 11);
$liSub3RedHover: rgba(110, 10, 11, 0.90);

$blueGlow: #22CFA7;

$white: rgba(233, 233, 233, 0.9);
$fontWhite: rgba(255, 255, 255, 0.9);
$fontGrey: rgba(180, 182, 184, 0.9);
$fontRed: rgb(192, 35, 40);

$lightBackground: rgba(222, 225, 227, 0.9);
$lightBorderColor: rgba(100, 100, 100, 0.1);
$lightBorderColorRed: rgba(205, 55, 55, 1);
$darkBackground: rgba(30, 32, 34, 0.9);
$lightBlueBackground: #3a617e;
$lightBlueBackgroundHover: #4b728f;
$darkBlueBackground: #29506D;
$darkBlueBackgroundHover: #18405c;
$lightGreenBackground: #C3D49B;
$darkGreenBackground: #7C8764;
$gray-bg-2: #222222;
$gray-bg-3: #333333;
$gray-bg-4: #444444;
$gray-bg-a: #aaaaaa;
$gray-bg-7: #777777;


/* Main site styles */
body {
	font-size: $BASE_FONT_SIZE;
	font-weight: 200;
	letter-spacing: 1px;
	background-color: $gray-bg-4;
}
header {
	width: 100%;
	margin: 0;
	padding: 0;
}
span {
	display: inline-block;
}
input, textarea {
	border: 1px solid $gray-bg-3;
	margin-right: 1px;
	margin-bottom: 1px;
	background-color: $gray-bg-3;
	color: #ffffff;
}
input:focus, textarea:focus {
	outline: 0;
	border: 1px solid #000;
}
input[disabled], textarea[disabled], select[disabled] {
	color: #aaa;
	background-color: $gray-bg-4;
	border-color: $gray-bg-a;
}
input[type="checkbox"] {
	background-color: $gray-bg-4;
	border-color: $gray-bg-a;
}
label {
	font-weight: 200;
}
select {
	font-size: $BASE_FONT_SIZE;
	margin: 1px;
	border: 0;
	outline: 0;
	height: 3em;
	background-color: $gray-bg-3;
}
select:focus {
	outline: 1px solid #000;
	padding: 1px;
	height: 3em;
	margin: 1px;
}
a {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: $actionable;
}
a:hover {
	text-decoration: none;
	color: $actionableHover;
}
a > li {
	margin: 0;
}
ul, li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-position: inside;
	position: relative;
}
ol {
	margin: 0;
	padding: 0;
}
ol > li {
	list-style-type: decimal;
	list-style-position: outside;
}
.parent-red,
.sub1-red,
.sub2-red {
	color: $fontWhite;
}
.parent-red {
	background-color: $liParentRed;
}
.parent-red-hover:hover {
	background-color: $liParentRedHover;
}
.sub1-red {
	background-color: $liSub1Red;
}
.sub1-red:hover {
	background-color: $liSub1RedHover;
}
.sub2-red {
	background-color: $liSub2Red;
}
.sub2-red:hover {
	background-color: $liSub2RedHover;
}
.sub3-red {
	background-color: $liSub3Red;
}
.sub3-red:hover {
	background-color: $liSub3RedHover;
}

/**
 *
 *	GLOW
 * 
 */
.glow {
	box-shadow: 0 0 10px $blueGlow;
}
.glow-hover {

}

/* UTILITY CLASSES */
.actionable {
	color: $actionable;
	cursor: pointer;
}
.actionable:hover, .actionable:hover * {
	color: $actionableHover;
	text-decoration: none;
}
.actionable.active {
	color: $fontWhite;
}
.list-icon {
	font-size: 20px;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* COLOR CLASSES */
.gray-bg-2 {
	background-color: #222222;
}
.gray-bg-3 {
	background-color: #333333;
}
.gray-bg-3-hover:hover {
	background-color: #444444;
}
.black-gradient-bg {
	background: rgb(69,72,77); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.black-gradient-bg-hover:hover {
	background-color: #010203;
}
.black-bg {
	background-color: #000000;
}
.light-bg {
	background-color: $lightBackground;
}
.dark-bg {
	background-color: $darkBackground;
}
.red-bg, .red-bg-hover {
	background-color: #BB250E;
}
.red-bg-hover:hover {
	background-color: #AA0000;
}
.light-blue-bg {
	background-color: $lightBlueBackground;
}
.light-blue-bg-hover:hover {
	background-color: $lightBlueBackgroundHover;
}
.dark-blue-bg {
	background-color: $darkBlueBackground;
}
.dark-blue-bg-hover:hover {
	background-color: $darkBlueBackgroundHover;
}
.light-green-bg {
	background-color: $lightGreenBackground;
}
.dark-green-bg {
	background-color: $darkGreenBackground;
}
.dark-bg-hover:hover {
	background-color: rgba(0, 10, 20, 0.05);
}
.light-border {
	border: 1px solid $lightBorderColor;
}
.light-border-top {
	border-top: 1px solid $lightBorderColor;
}
.light-border-bottom {
	border-bottom: 1px solid $lightBorderColor;
}
.light-border-bottom-red {
	border-bottom: 1px solid $lightBorderColorRed;
}
.light-border-left {
	border-left: 1px solid $lightBorderColor;
}
.light-border-left-red {
	border-left: 1px solid $lightBorderColorRed;
}
.white-border {
	border: 1px solid $white;
}
.white-border-top {
	border-top: 1px solid $white;
}
.white-border-bottom {
	border-bottom: 1px solid $white;
}
.white-border-bottom-red {
	border-bottom: 1px solid $white;
}
.white-border-left {
	border-left: 1px solid $white;
}
.white-border-left-red {
	border-left: 1px solid $white;
}

/*
*
*	FONT
*
 */
.font-white {
	color: $fontWhite;
}
.font-grey {
	color: $fontGrey;
}
.font-red {
	color: $fontRed;
}
.no-highlight, 
text.no-highlight, 
tspan.no-highlight, 
text.no-highlight tspan {
	user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: inherit !important;
}
text.no-highlight, 
tspan.no-highlight, 
text.no-highlight tspan {
	user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    pointer-events: none;
    cursor: inherit !important;
}
path.painted-fill, rect.painted-fill, circle.painted-fill {
	pointer-events: painted;
}

/**
 *
 *	CURSOR
 * 
 */
.pointer {
	cursor: pointer;
}
.col-resize {
	cursor: col-resize;
}
.grab {
	cursor: grab;
	cursor: -webkit-grab; 
	cursor: -moz-grab;
}
.grabbing {
	cursor: grabbing;
	cursor: -webkit-grabbing; 
	cursor: -moz-grabbing;
}

/**
 *
 *	 STRUCTURAL CLASSES
 * 
 */
.dropdown {
	z-index: 1000;
	box-shadow: 0px 0px 10px #000;
}

/**
 *
 *	MAIN UI-VIEW CONTAINER
 * 
 */
#main-contents {
	// z-index: -1;
}

/*===============================
*
*
*	MODULE-SPECIFIC CSS IMPORTS
*
*
*===============================*/

@import 
	'icons',
	'../common/common',
	'../modules/user/user',
	'../modules/nav/nav',
	'../modules/playbook/playbook',
	'../modules/film/film';











