/*
* GLOBAL VARIABLES
*/
/* Main site styles */
body {
  font-size: 12px;
  font-weight: 200;
  letter-spacing: 1px;
  background-color: #a5aaa0;
  color: white;
}

html, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "acumin-pro", Helvetica, "sans-serif", sans;
}

img.fill {
  object-fit: contain;
}

table, tr, td {
  border: 1px solid rgba(150, 150, 150, 0.6);
  border-collapse: collapse;
}

header {
  width: 100%;
  margin: 0;
  padding: 0;
}

span, strong {
  display: inline-block;
}

input, input:-webkit-autofill, textarea {
  border: 1px solid rgba(48, 48, 48, 0.6);
  margin-right: 1px;
  margin-bottom: 1px;
  background-color: rgba(32, 32, 32, 0.6);
  -webkit-text-fill-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0 0 0px 1000px rgba(32, 32, 32, 0.6) inset;
  color: rgba(255, 255, 255, 0.9);
}

input:focus, textarea:focus {
  outline: 0;
  border: 1px solid rgba(64, 64, 64, 0.6);
}

input[disabled], input[disabled]:-webkit-autofill, textarea[disabled], select[disabled] {
  color: #888 !important;
  background-color: rgba(16, 16, 16, 0.6) !important;
  border: 1px solid rgba(128, 128, 128, 0.6);
  -webkit-box-shadow: 0 0 0px 1000px rgba(16, 16, 16, 0.6) inset;
  -webkit-text-fill-color: #888 !important;
  font-weight: 200;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: not-allowed !important;
}

input[type="checkbox"], input[type="radio"] {
  background-color: rgba(64, 64, 64, 0.6);
  border-color: rgba(112, 112, 112, 0.6);
  -webkit-box-shadow: none;
}

button {
  border: 0;
  align-self: baseline;
  width: auto;
  text-align: left;
}

button:focus {
  outline: 0;
}

label {
  font-weight: 200;
}

select {
  font-size: 12px;
  margin: 1px;
  border: 1px solid rgba(48, 48, 48, 0.6);
  outline: 0;
  height: 3em;
  background-color: rgba(32, 32, 32, 0.6);
  color: rgba(255, 255, 255, 0.9);
  width: 100%;
}

select:focus {
  outline: 1px solid rgba(64, 64, 64, 0.6);
  padding: 1px;
  height: 3em;
  margin: 1px;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #a0c9ff;
}

a:hover {
  text-decoration: none;
  color: #96c9fc;
}

a > li {
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-position: inside;
  position: relative;
}

ol {
  margin: 0;
  padding: 0;
}

ol > li {
  list-style-type: decimal;
  list-style-position: outside;
}

details summary {
  outline: none;
  cursor: pointer;
}

.parent-red,
.sub1-red,
.sub2-red {
  color: rgba(255, 255, 255, 0.9);
}

.parent-red {
  background-color: #c02328;
}

.parent-red-hover:hover {
  background-color: rgba(192, 35, 40, 0.9);
}

.sub1-red {
  background-color: #a01a1e;
}

.sub1-red:hover {
  background-color: rgba(160, 26, 30, 0.9);
}

.sub2-red {
  background-color: #810d0f;
}

.sub2-red:hover {
  background-color: rgba(129, 13, 15, 0.9);
}

.sub3-red {
  background-color: #6e0a0b;
}

.sub3-red:hover {
  background-color: rgba(110, 10, 11, 0.9);
}

/**
 *
 *	GLOW & SHADOW
 * 
 */
.glow {
  box-shadow: 0 0 10px #22CFA7;
}

.shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

/* UTILITY CLASSES */
.actionable {
  color: #a0c9ff;
  cursor: pointer;
}

.actionable:hover, .actionable:hover * {
  color: #96c9fc;
  text-decoration: none;
}

.actionable.active {
  color: rgba(255, 255, 255, 0.9);
}

.list-icon {
  font-size: 20px;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/**
 * 
 * COLOR CLASSES
 * 
 */
.rounded-rect-bg {
  border-radius: 0.5em;
  font-size: 0.9em;
  text-align: center;
  padding: 0.25em 0.5em;
  border: 1px solid rgba(50, 50, 50, 0.5);
}

.circle-bg {
  border-radius: 50%;
  text-align: center;
  padding: 0.9em;
  border: 1px solid rgba(50, 50, 50, 0.5);
}

.black-bg, .black-bg-hover, .black-circle-bg, .black-rounded-rect-bg {
  background-color: rgba(0, 0, 0, 0.6);
}

.black-bg-hover:hover {
  background-color: rgba(16, 16, 16, 0.6);
}

.black-circle-bg, .black-rounded-rect-bg {
  color: rgba(255, 255, 255, 0.9);
}

.gray-bg-1, .gray-bg-1-hover {
  background-color: rgba(16, 16, 16, 0.6);
}

.gray-bg-1-hover:hover {
  background-color: rgba(24, 24, 24, 0.6);
}

.gray-bg-2, .gray-bg-2-hover {
  background-color: rgba(32, 32, 32, 0.6);
}

.gray-bg-2-hover:hover {
  background-color: rgba(40, 40, 40, 0.6);
}

.gray-bg-3, .gray-bg-3-hover {
  background-color: rgba(48, 48, 48, 0.6);
}

.gray-bg-3-hover:hover {
  background-color: rgba(56, 56, 56, 0.6);
}

.gray-bg-4, .gray-bg-4-hover {
  background-color: rgba(64, 64, 64, 0.6);
}

.gray-bg-4-hover:hover {
  background-color: rgba(72, 72, 72, 0.6);
}

.gray-bg-5, .gray-bg-5-hover {
  background-color: rgba(80, 80, 80, 0.6);
}

.gray-bg-5-hover:hover {
  background-color: rgba(88, 88, 88, 0.6);
}

.gray-bg-6, .gray-bg-6-hover {
  background-color: rgba(96, 96, 96, 0.6);
}

.gray-bg-6-hover:hover {
  background-color: rgba(104, 104, 104, 0.6);
}

.gray-bg-7, .gray-bg-7-hover {
  background-color: rgba(128, 128, 128, 0.6);
}

.gray-bg-7-hover:hover {
  background-color: rgba(136, 136, 136, 0.6);
}

.black-gradient-bg {
  background: #45484d;
  /* Old browsers */
  background: -moz-linear-gradient(top, #45484d 0%, black 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #45484d), color-stop(100%, black));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #45484d 0%, black 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #45484d 0%, black 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #45484d 0%, black 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #45484d 0%, black 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
}

.black-gradient-bg-hover:hover {
  background-color: #010203;
}

.light-bg {
  background-color: rgba(222, 225, 227, 0.9);
}

.dark-bg {
  background-color: rgba(30, 32, 34, 0.9);
}

.red-bg, .red-bg-hover, .red-circle-bg, .red-rounded-rect-bg {
  background-color: #BB250E;
}

.red-bg-hover:hover {
  background-color: #AA0000;
}

.red-circle-bg, .red-rounded-rect-bg {
  color: rgba(255, 255, 255, 0.9);
}

.green-bg, .green-bg-hover, .green-circle-bg, .green-rounded-rect-bg {
  background-color: rgba(57, 160, 23, 0.6);
}

.green-bg-hover:hover {
  background-color: rgba(37, 140, 3, 0.6);
}

.green-circle-bg, .green-rounded-rect-bg {
  color: rgba(255, 255, 255, 0.9);
}

.blue-bg, .blue-bg-hover, .blue-circle-bg, .blue-rounded-rect-bg {
  background-color: #2A58D2;
}

.blue-bg-hover:hover {
  background-color: #336BCB;
}

.blue-circle-bg, .blue-rounded-rect-bg {
  color: rgba(255, 255, 255, 0.9);
}

.light-blue-bg {
  background-color: #3a617e;
}

.light-blue-bg-hover:hover {
  background-color: #4b728f;
}

.dark-blue-bg {
  background-color: #29506D;
}

.dark-blue-bg-hover:hover {
  background-color: #18405c;
}

.light-green-bg {
  background-color: #C3D49B;
}

.dark-green-bg {
  background-color: #7C8764;
}

.dark-bg-hover:hover {
  background-color: rgba(0, 10, 20, 0.05);
}

.light-border {
  border: 1px solid rgba(150, 150, 150, 0.6);
}

.light-border-top {
  border-top: 1px solid rgba(150, 150, 150, 0.6);
}

.light-border-bottom {
  border-bottom: 1px solid rgba(150, 150, 150, 0.6);
}

.light-border-bottom-red {
  border-bottom: 1px solid #cd3737;
}

.light-border-left {
  border-left: 1px solid rgba(150, 150, 150, 0.6);
}

.light-border-left-red {
  border-left: 1px solid #cd3737;
}

.light-border-right {
  border-right: 1px solid rgba(150, 150, 150, 0.6);
}

.light-border-right-red {
  border-right: 1px solid #cd3737;
}

.dark-border {
  border: 1px solid rgba(50, 50, 50, 0.5);
}

.dark-border-top {
  border-top: 1px solid rgba(50, 50, 50, 0.5);
}

.dark-border-bottom {
  border-bottom: 1px solid rgba(50, 50, 50, 0.5);
}

.dark-border-left {
  border-left: 1px solid rgba(50, 50, 50, 0.5);
}

.dark-border-right {
  border-right: 1px solid rgba(50, 50, 50, 0.5);
}

.white-bg, .white-circle-bg {
  background-color: rgba(255, 255, 255, 0.9);
}

.white-circle-bg {
  color: rgba(0, 0, 0, 0.6);
}

.white-border {
  border: 1px solid rgba(255, 255, 255, 0.9);
}

.white-border-selected {
  border: 3px solid rgba(255, 255, 255, 0.9);
}

.white-border-top {
  border-top: 1px solid rgba(255, 255, 255, 0.9);
}

.white-border-bottom {
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
}

.white-border-bottom-red {
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
}

.white-border-left {
  border-left: 1px solid rgba(255, 255, 255, 0.9);
}

.white-border-left-red {
  border-left: 1px solid rgba(255, 255, 255, 0.9);
}

.gray-border {
  border: 1px solid rgba(48, 48, 48, 0.6);
}

.gray-border-top {
  border-top: 1px solid rgba(48, 48, 48, 0.6);
}

.gray-border-bottom {
  border-bottom: 1px solid rgba(48, 48, 48, 0.6);
}

.gray-border-bottom-red {
  border-bottom: 1px solid rgba(48, 48, 48, 0.6);
}

.gray-border-left {
  border-left: 1px solid rgba(48, 48, 48, 0.6);
}

.gray-border-left-red {
  border-left: 1px solid rgba(48, 48, 48, 0.6);
}

.selected-border {
  outline: rgba(128, 128, 128, 0.6) solid 3px;
}

/*
*
*	FONT
*
 */
.font-white, .font-white-hover {
  color: rgba(255, 255, 255, 0.9);
}

.font-white-hover:hover {
  color: rgba(255, 255, 255, 0.5);
}

.font-black, .font-black-hover {
  color: rgba(0, 0, 0, 0.9);
}

.font-black-hover:hover {
  color: rgba(40, 40, 40, 0.9);
}

.font-light, .font-light-hover {
  color: rgba(230, 230, 230, 0.9);
}

.font-light-hover:hover {
  color: rgba(255, 255, 255, 0.9);
}

.font-gray {
  color: rgba(180, 182, 184, 0.9);
}

.font-gray-1 {
  color: #111;
}

.font-red {
  color: #c02328;
}

.font-green {
  color: #86BE75;
}

.no-highlight,
text.no-highlight,
tspan.no-highlight,
text.no-highlight tspan {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: inherit !important;
}

text.no-highlight,
tspan.no-highlight,
text.no-highlight tspan {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  pointer-events: none;
  cursor: inherit !important;
}

path.painted-fill, rect.painted-fill, circle.painted-fill {
  pointer-events: painted;
}

/**
 *
 *	CURSOR
 * 
 */
.pointer {
  cursor: pointer;
}

.col-resize {
  cursor: col-resize;
}

.grab {
  cursor: grab;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

.grabbing {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}

.ns-resize {
  cursor: ns-resize;
  cursor: -webkit-ns-resize;
  cursor: -moz-ns-resize;
}

.pointer-events-none {
  pointer-events: none;
}

/**
 *
 *	 STRUCTURAL CLASSES
 * 
 */
.dropdown {
  z-index: 1000;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

/**
 *
 *	FONT CLASSES
 * 
 */
.capitalize {
  text-transform: capitalize;
}

.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}

/**
 *
 *	MAIN UI-VIEW CONTAINER
 * 
 */
/*===============================
*
*
*	MODULE-SPECIFIC CSS IMPORTS
*
*
*===============================*/
/*
* ICONS 
*/
.impakt-folder-icon {
  background: url(../images/folder.png) no-repeat;
  background-size: contain;
  background-position: center center;
}

.impakt-file-icon {
  background: url(../images/file.png) no-repeat;
  background-size: contain;
  background-position: center center;
}

.impakt-main-logo {
  background: url(../images/impakt_logo.png) no-repeat;
  background-size: contain;
  background-position: center center;
}

/*
*	CONTEXT MENU MODULE
*/
.contextmenu {
  position: absolute;
  min-width: 200px;
  min-height: 200px;
  height: auto;
  background-color: rgba(230, 230, 230, 0.98);
  padding: 0;
  font-weight: 200;
  color: #222;
  text-shadow: 0px 1px #ddd;
  border: 1px solid #333;
  z-index: 999999;
  box-shadow: 0px 0px 10px #000;
}

.contextmenu #contextmenuOverlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.contextmenu ul,
.contextmenu ol {
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-position: inside;
  z-index: 2;
}

.contextmenu li {
  cursor: pointer;
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
}

.contextmenu li:hover {
  background-color: rgba(0, 0, 0, 0.35);
}

/*
*	SCROLLABLE CONTAINER STYLES
*/
.scrollable-container {
  display: block;
  position: relative;
  z-index: 0;
}

.scrollable-container .scroll {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 1em;
}

.scrollable-container .scroll-head {
  background-color: rgba(80, 80, 80, 0.8);
  min-height: 1em;
  width: calc(1em - 2px);
  border-radius: 3px;
  position: absolute;
  left: 1px;
  top: 0;
}

notifications {
  pad: 1em;
  min-height: 3em;
}

notification-item {
  position: relative;
  margin-bottom: 1px;
}

notification-item .notification-type {
  top: 0;
  left: 0;
  width: 3px;
  position: absolute;
  height: 100%;
  opacity: 0.5;
}

/* none */
notification-item .notification-type.notification-type-0 {
  background-color: #A5A5A5;
}

/* success */
notification-item .notification-type.notification-type-1 {
  background-color: #75AF5A;
}

/* error */
notification-item .notification-type.notification-type-2 {
  background-color: #AF3025;
}

/* warning */
notification-item .notification-type.notification-type-3 {
  background-color: #F9BE17;
}

/* info */
notification-item .notification-type.notification-type-4 {
  background-color: #A5A5A5;
}

/* pending */
notification-item .notification-type.notification-type-5 {
  background-color: #4D88CC;
}

expandable {
  position: relative;
}

.expandable-handle {
  position: absolute;
  background-color: rgba(48, 48, 48, 0.6);
  border: 1px solid #222;
}

.expandable-handle-vertical {
  height: 100%;
  width: 7px;
  cursor: col-resize;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAUCAYAAABF5ffbAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABpJREFUeNpiYgCC/0CATDMxYAGjggMlCBBgAOQACCHaJlCQAAAAAElFTkSuQmCC");
  background-position: center center;
  background-repeat: no-repeat;
}

.expandable-handle-horizontal {
  height: 7px;
  width: 100%;
  cursor: row-resize;
}

.expandable-handle:hover {
  background-color: rgba(32, 32, 32, 0.6);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.15);
}

/*expandable[direction=left] {
	border-left: 1px solid $lightBorderColor;
}
expandable[direction=right] {
	border-right: 1px solid $lightBorderColor;
}
expandable[direction=top] {
	border-top: 1px solid $lightBorderColor;
}
expandable[direction=botom] {
	border-bottom: 1px solid $lightBorderColor;
}*/
play-preview {
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  /* for now */
}

play-thumbnail {
  overflow: hidden;
  position: relative;
}

play-thumbnail img {
  position: absolute;
}

scenario-preview {
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  /* for now */
}

scenario-thumbnail {
  overflow: hidden;
  position: relative;
}

scenario-thumbnail img {
  position: absolute;
}

formation-preview {
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  /* for now */
}

formation-thumbnail {
  overflow: hidden;
  position: relative;
}

formation-thumbnail img {
  position: absolute;
}

stepper {
  display: flex;
  flex-direction: column;
}

stepper div[step] {
  display: block;
}

stepper step-nav {
  margin-top: 1em;
  height: 3em;
  width: 100%;
}

stepper step-nav step-nav-item {
  height: 3em;
  width: 3em;
  padding: 1em;
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  display: inline-block;
  margin-right: 1em;
}

association-input input[type=text] {
  border: none;
}

association-input .association-input-dropdown {
  box-shadow: 0 10px 20px 0 #000000;
}

div.popout {
  position: relative;
  width: 100%;
  display: block;
  height: 100%;
}

div.popout button.popout-toggle,
div.popout input.popout-search {
  cursor: pointer;
  width: 100%;
  display: block;
  background: transparent;
  padding: 0.5em;
  margin: 0;
  border: none;
}

div.popout popout-contents {
  z-index: 1000;
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0em;
  min-width: 20em;
  min-height: 3em;
}

body .popout-clickeater {
  z-index: 999;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
}

/*
*	USER PROFILE MODULE
*/
#main-profile-controls #main-profile-image {
  border-radius: 50%;
  background-color: #fff;
  background: url(../images/user_blank.png) no-repeat;
  background-size: contain;
  cursor: pointer;
}

#main-profile-controls #main-profile-image:hover {
  border: 2px solid #fff;
}

/*
*	NAV MODULE
*/
#impakt-navigator {
  z-index: 1000;
}

#impakt-navigator-nav ul,
#impakt-navigator-nav li {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

#impakt-navigator-nav li {
  cursor: pointer;
  text-align: center;
}

#impakt-navigator-nav .nav-item-icon {
  border-radius: 50%;
  /*background-color: #fff;*/
}

#impakt-navigator-nav .nav-item-icon span {
  font-size: 2.5em;
}

#impakt-navigator-controls {
  background-color: #434343;
  color: #fff;
  position: relative;
}

/*
*	PLAYBOOK MODULE
*/
#impakt-playbook-controls {
  background-color: #333;
}

.playbook-editor-type-playbook {
  border-left: 3px solid #000;
}

.playbook-editor-type-scenario {
  border-left: 3px solid #8B0900;
}

.playbook-editor-type-formation {
  border-left: 3px solid #3377ff;
}

.playbook-editor-type-assignment {
  border-left: 3px solid #71B127;
}

.playbook-editor-type-play {
  border-left: 3px solid #71B127;
}

/* 
========== PLAYBOOK MODULE IMPORTS ==========
*/
/* 
* PLAYBOOK EDITOR MODULE
*/
#playbook-editor-main {
  height: 100%;
}

/*===============================
*
*
*	MODULE-SPECIFIC CSS IMPORTS
*
*
*===============================*/
/*
*	PLAYBOOK EDITOR TABS
*/
.playbook-editor-tab {
  min-width: 30px;
  text-align: left;
  position: relative;
}

.playbook-editor-tab:hover {
  background-color: rgba(136, 136, 136, 0.6);
}

.playbook-editor-tab span {
  display: inline-block;
  /*max-width: 80%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;*/
}

.playbook-editor-tab-close:hover .glyphicon {
  color: #333;
}

.playbook-editor-tab-close:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.playbook-editor-tab:not(.active) {
  color: #ccc;
  text-shadow: 0 1px #444;
}

.playbook-editor-tab.active {
  background-color: #9f9f9f;
  border-bottom: none;
  text-shadow: 0 1px #aaa;
}

.playbook-editor-tab.active:hover {
  background-color: #aaa;
}

#playbook-editor-new-tab {
  color: #9d7;
}

/*
*	PLAYBOOK EDITOR CANVAS STYLES
*/
.playbook-editor-canvas-container {
  background-color: #616161;
}

.playbook-editor-canvas-container.inactive {
  visibility: collapse;
  flex: 0;
}

.playbook-editor-canvas-container.active {
  visibility: visible;
}

playbook-editor-canvas {
  display: block;
  position: relative;
  z-index: 0;
  background-color: #000000;
  resize: both;
}

playbook-editor-canvas svg * {
  pointer-events: fill;
}

/**
 *
 *	PLAYBOOK EDITOR INFO PANEL
 * 
 */
.playbook-editor-info-container {
  margin: 1em 0 0 3em;
  width: calc(100% - 6em);
}

.playbook-editor-info-container table {
  table-layout: fixed;
}

.playbook-editor-info-container table,
.playbook-editor-info-container tr,
.playbook-editor-info-container th,
.playbook-editor-info-container td {
  border: none;
  font-weight: normal;
}

.playbook-editor-info-container td {
  padding: 0;
}

.playbook-editor-info-container td {
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.playbook-editor-info-container th {
  padding: 0.25em 1.25em;
}

/*
*	PLAYBOOK EDITOR TOOLS
*/
.playbook-editor-tools-list {
  margin: 0;
  padding: 0;
}

.playbook-editor-tool {
  text-align: left;
}

.playbook-editor-tool:hover {
  background-color: #383838;
}

.playbook-editor-tool.selected {
  background-color: #000000;
  color: #ffffff;
}

.playbook-editor-tools-list,
.playbook-editor-tool {
  list-style-type: none;
  list-style-position: inside;
}

.planning-editor-practice-plan-table {
  width: 100%;
  text-align: left;
}

.planning-editor-practice-plan-table input[type='text'],
.planning-editor-practice-plan-table input[type='number'] {
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
}

.planning-editor-practice-plan-table select,
.planning-editor-practice-plan-table option,
.planning-editor-practice-plan-table input[type='text'],
.planning-editor-practice-plan-table input[type='number'] {
  background-color: transparent;
  color: #000;
  margin: 0;
  padding: 0;
  border: none;
  font-weight: normal;
  height: 1.75em;
  text-align: center;
  width: 100%;
}

/*
*	ANALYSIS MODULE
*/

/*# sourceMappingURL=app.css.map */
