/*
* ICONS 
*/
.impakt-folder-icon {
	background: url(../images/folder.png) no-repeat;
	background-size: contain;
	background-position: center center;
}
.impakt-file-icon {
	background: url(../images/file.png) no-repeat;
	background-size: contain;
	background-position: center center;	
}
.impakt-main-logo {
	background: url(../images/impakt_logo.png) no-repeat;
	background-size: contain;
	background-position: center center;
}