<div class='coll scrollY pad'>
	
	
	<h2><strong>Playbook:</strong> {{playbook.name}}</h2>

	<div class='marginBottom1'>
		<strong>Unit type: </strong>
		<type-formatter 
			value='playbook.unitType' 
			type='Team.Enums.UnitTypes'>
		</type-formatter>
	</div>
		
	<!-- Plays -->
	<div class='marginBottom1'>
		<h4>Scenarios (0)</h4>
		<div class='grid'>
				
			<scenario-item
				ng-repeat='scenario in scenarios.toArray()'
				scenario='scenario'>
			</scenario-item>

		</div>
	</div>
		
	<!-- Plays -->
	<div class='marginBottom1'>
		<h4>Plays ({{plays.size()}})</h4>
		<div class='grid'>
				
			<play-item
				ng-repeat='play in plays.toArray()'
				play='play'>
			</play-item>

		</div>
	</div>

	<!-- Formations -->
	<div class='marginBottom1'>
		<h4>Formations ({{formations.size()}})</h4>
		<div class='grid'>
				
			<formation-item
				ng-repeat='formation in formations.toArray()'
				formation='formation'>
			</formation-item>

		</div>
	</div>

	<div class='row marginBottom1'>
		<div class='width7 red-bg-hover pointer pad'
			ng-click='delete()'>
			<span class='glyphicon glyphicon-remove'></span>
			delete
		</div>
	</div>
	
</div>