<div class='positionRelative overflowVisible'>

	<div class='overflowVisible'>
		<div class='gray-bg-2 light-border pad04 padRight02'>

			<association-tag ng-repeat='associatedEntity in associatedEntities.toArray()'></association-tag>

			<input class='pad02 associations-input-text light-border-top' 
				type='text' 
				ng-model='search.text'
				ng-placeholder='Add association'
				ng-blur='hidePossibleAssociationsList()'
				ng-focus='showPossibleAssociationsList()' />

		</div>

		<div class='gray-bg-1 top100Percent zIndexTop width100Percent association-input-dropdown marginBottom4' 
			ng-show='possibleAssociationsListVisible'>
			<association-candidate-item
				ng-repeat='possibleAssociation in possibleAssociations.toArray() | filter: {name: search.text}'>
			</association-candidate-item>
		</div>

	</div>

</div>