div.popout {
	position: relative;
	width: 100%;
	display: block;
	height: 100%;
}

div.popout button.popout-toggle,
div.popout input.popout-search {
	cursor: pointer;
	width: 100%;
	display: block;
	background: transparent;
	padding: 0.5em;
	margin: 0;
	border: none;
}

div.popout popout-contents {
	z-index: 1000;
	position: absolute;
	top: 100%;
	width: 100%;
	left: 0em;
	min-width: 20em;
	min-height: 3em;
}
body .popout-clickeater {
	z-index: 999;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0);
}