<div class='popout positionRelative'>
	
	<!-- dropdown button -->
	<popout-toggle></popout-toggle>
	
	<popout-contents 
		ng-show='!expandable.collapsed'
		class='minWidth20 dropdown heightAuto positionAbsolute gray-bg-3'>
		<ul>
			<li ng-repeat='item in filteredCollection.toArray() | filter: {name: query.text}'
				ng-click='itemSelect(item)'
				class='pad pointer gray-bg-4-hover'>
				{{item.name}}
			</li>
		</ul>
	</popout-contents>

	<!-- <popout-clickeater></popout-clickeater> -->

</div>