<div ng-show='isVisibleLayer(1)'>

	<div class='pad padBottom0 font-white'>
		<!-- Private Playbooks -->
		<h2>
			Playbooks						
		</h2>
	</div>
	
	<span 
		class='marginBottom2 height3 pad pointer red-bg-hover widthAuto' 
		sliding-panel-nav ng-click='prev()'>
			<span class='glyphicon glyphicon-chevron-left'></span>
			{{selectedUnitType.name}}
	</span>
	
	<div 
		ng-repeat='playbook in selectedUnitType.playbooks.getAll()' 
		class='col red-bg-hover light-border-bottom-red pointer' 
		ng-init='formationsRetrieved = false'
		ng-click='selectPlaybook(playbook); next()'
		sliding-panel-nav>
		
		<div class='row height3'>

			<!-- ng-click="!formationsRetrieved && getFormations(playbook); formationsRetrieved = true; togglePlaybook(playbook)" -->

			<!-- <div class='pad1 glyphicon glyphicon-book width1'>
			</div> -->

			<div class='row margin1'>
				<span class='glyphicon glyphicon-book marginRight1'></span>{{playbook.name}}
			</div>
			
			<!-- <div class='pad right0 height3'
				ng-click='deletePlaybook(playbook.PlaybookKey)'>
				<div class='glyphicon glyphicon-remove'></div>
			</div> -->

			<div class='row pad right0 height3 width7'>
				<div class='padRight1 padLeft1'>
					{{playbook.formations.size()}}
				</div>
				<!-- <div 
					ng-click='refreshPlaybook(drilldownPlaybook.playbookKey)' 
					class='glyphicon glyphicon-refresh right0 pad'>
				</div> -->
				
				<div class='glyphicon glyphicon-chevron-right'></div>
			</div>
		</div>

	</div>
	<div class='row pointer'
		ng-click='createPlaybook(playbookTypeEnum)'>
		<div class='pad1 width1 glyphicon glyphicon-plus'></div>
		<div class='margin1'>Create playbook</div>
	</div>
	
</div>