/*
*	NAV MODULE
*/
#impakt-navigator {
	z-index: 1000;
}
#impakt-navigator header {
	
}
#impakt-navigator nav {
	border-right: 1px solid #000;
	color: #fff;
}
#impakt-navigator-nav ul,
#impakt-navigator-nav li {
	list-style-type: none;
	list-style-position: inside;
	margin: 0;
	padding: 0;
}
#impakt-navigator-nav li {
	cursor: pointer;
	text-align: center;
}
#impakt-navigator-nav li.active,
#impakt-navigator-nav li.active:hover {
	color: #fff;
}
#impakt-navigator-nav li:hover {
	background-color: #555;
	color: #ddd;
}
#impakt-navigator-nav .nav-item-icon {
	border-radius: 50%;
	/*background-color: #fff;*/
}
#impakt-navigator-nav .nav-item-icon span {
	font-size: 2.5em;
}
#impakt-navigator-controls {
	background-color: #434343;
	color: #fff;
	position: relative;
}
#impakt-navigator-container {
	border-right: 4px solid #000;
}
#impakt-navigator-view {
	color: #505050;
	background-color: #c8c8c8;
}
#impakt-navigator-playbook .k-treeview .k-in {
	padding: 5px;
}