/*
*	NAV MODULE
*/
#impakt-navigator {
	z-index: 1000;
}
#impakt-navigator header {
	
}
#impakt-navigator-nav ul,
#impakt-navigator-nav li {
	list-style-type: none;
	list-style-position: inside;
	margin: 0;
	padding: 0;
}
#impakt-navigator-nav li {
	cursor: pointer;
	text-align: center;
}
#impakt-navigator-nav .nav-item-icon {
	border-radius: 50%;
	/*background-color: #fff;*/
}
#impakt-navigator-nav .nav-item-icon span {
	font-size: 2.5em;
}
#impakt-navigator-controls {
	background-color: #434343;
	color: #fff;
	position: relative;
}