<div class='col dark-bg '>	
	<div class='row'>
		<nav class='col width6 positionRelative gray-bg-2' 
			id='impakt-navigator-nav'>
			<ul>

				<!-- Search -->
				<li class='width6 height5 padTop1 padBottom1 pointer gray-border-bottom'
					ng-class="{
						'gray-bg-2-hover': !searchMenuItem.active,
						'gray-bg-1-hover': searchMenuItem.active
					}"
					ng-click='searchItemClick()'>

					<div class='nav-item-icon nav-search height3 width4 marginLeft1 marginRight1 positionRelative textCenter'>
						<span ng-attr-class='{{ "glyphicon glyphicon-" + searchMenuItem.glyphicon }}'>
						</span>
					</div>
				</li>

				<!-- Notifications -->
				<li class='width6 height5 padTop1 padBottom1 pointer gray-border-bottom'
					ng-class="{
						'gray-bg-2-hover': !notificationsMenuItem.active,
						'gray-bg-1-hover': notificationsMenuItem.active
					}"
					ng-click='notificationItemClick()'>

					<div class='nav-item-icon nav-notification height3 width4 marginLeft1 marginRight1 positionRelative textCenter'>
						<span ng-attr-class='{{ "glyphicon glyphicon-" + notificationsMenuItem.glyphicon }}'>
						</span>
					</div>
					<div class='rounded-rect-bg top1 right1'
						ng-class="{
							'blue-rounded-rect-bg': notifications.size() > 0, 
							'black-rounded-rect-bg': notifications.size() <= 0
						}">
						{{notifications.size()}}
					</div>
				</li>

				<!-- Navigation Items nav.fct.ts -->
				<li ng-repeat='menuItem in menuItems.toArray()' 
					class='height5 padTop1 padBottom1 pointer'
					ng-class='{ 
						active: menuItem.active,  
						"gray-bg-2-hover": !menuItem.active,
						"black-bg-hover": menuItem.active
					}'
					ng-click='menuItemClick(menuItem)'>
					<div class='nav-item-icon height3 width4 marginLeft1 marginRight1'>
						<span ng-attr-class='{{ "glyphicon glyphicon-" + menuItem.glyphicon }}'></span>
					</div>
					<!-- {{ menuItem.label }} -->
				</li>
			</ul>
			
			<div class='bottom0 left0 pad width6 textCenter gray-bg-2-hover pointer'>
				<a href='http://impaktathletics.com/' target='_blank'>
					<div>
						<img src='images/impakt_logo.png' />
					</div>
					<em class='opacity04 fontSize8'>&copy; {{currentYear}}</em>
				</a>
			</div>
		</nav>
		
		<!-- Navigator menu container -->
		<div id='impakt-navigator-container' class='col'>
			<notifications class='col'></notifications>
		</div>

		<!-- Navigator search container -->
		<div ng-include='"modules/search/search.tpl.html"'></div>
	</div>
</div>