<div class='col dark-bg font-white'>	
	<div class='row'>
		<nav class='col width6 positionRelative gray-bg-2' 
			id='impakt-navigator-nav'>
			<ul>

				<!-- Search -->
				<li class='width6 height5 padTop1 padBottom1 pointer gray-border-bottom'
					ng-class="{
						'gray-bg-2-hover': !searchMenuItem.isActive,
						'gray-bg-1-hover': searchMenuItem.isActive
					}"
					ng-click='searchItemClick()'>

					<div class='nav-item-icon nav-search height3 width4 marginLeft1 marginRight1 positionRelative textCenter'>
						<span ng-attr-class='{{ "glyphicon glyphicon-" + searchMenuItem.glyphicon }}'>
						</span>
					</div>
				</li>

				<!-- Notifications -->
				<li class='width6 height5 padTop1 padBottom1 pointer gray-border-bottom'
					ng-class="{
						'gray-bg-2-hover': !notificationsMenuItem.isActive,
						'gray-bg-1-hover': notificationsMenuItem.isActive
					}"
					ng-click='notificationItemClick()'>

					<div class='nav-item-icon nav-notification height3 width4 marginLeft1 marginRight1 positionRelative textCenter'>
						<span ng-attr-class='{{ "glyphicon glyphicon-" + notificationsMenuItem.glyphicon }}'>
						</span>
					</div>
					<div class='circle-bg top1 right1'
						ng-class="{
							'red-circle-bg': notifications.size() > 0, 
							'black-circle-bg': notifications.size() <= 0
						}">
						{{notifications.size()}}
					</div>
				</li>

				<!-- Navigation Items nav.fct.ts -->
				<li ng-repeat='menuItem in menuItems.toArray()' 
					class='height5 padTop1 padBottom1 pointer'
					ng-class='{ 
						active: menuItem.isActive,  
						"gray-bg-2-hover": !menuItem.isActive,
						"black-bg-hover": menuItem.isActive
					}'
					ng-click='menuItemClick(menuItem)'>
					<div class='nav-item-icon height3 width4 marginLeft1 marginRight1'>
						<span ng-attr-class='{{ "glyphicon glyphicon-" + menuItem.glyphicon }}'></span>
					</div>
					<!-- {{ menuItem.label }} -->
				</li>
			</ul>
			
		</nav>
		
		<!-- Navigator menu container -->
		<div id='impakt-navigator-container' class='col'>
			<notifications class='col width100Percent'></notifications>
		</div>

		<!-- Navigator search container -->
		<div id='impakt-search-container' class='col positionFixed left6 top0 minHeight5 gray-bg-7 width100Percent font-white' ng-show='searchMenuItem.isActive'
		ng-controller='search.ctrl'>	
			<input 
				type='text' 
				class='fontSize20'
				placeholder='Search'
				ng-model='searchQuery' />

			<div class='col pad'>
				<div class='marginBottom1'>
					{{title}}
				</div>
				<div ng-repeat='result in results' class='marginBottom1'>
					{{result}}
				</div>
			</div>
		</div>
	</div>
</div>