
<div class='col'>

	<div id='playbook-editor-tabs' 
		class='row height3 gray-bg-4'
		ng-controller='playbook.editor.tabs.ctrl'>

		<div class='pad height3  pointer gray-bg-2-hover'
			ng-click='toBrowser()'>
			<span class='glyphicon glyphicon-folder-open'></span> Browser
		</div>
					
		<!-- editor FORMATION tabs -->
		<div 
			class='playbook-editor-tab noselect {{getEditorTypeClass(tab.scenario.editorType)}} gray-bg-6-hover pointer dark-border-right'
			ng-repeat='tab in tabs.toArray() | orderBy : "-scenario.editorType"'
			ng-attr-id='playbook-editor-tab-{{tab.guid}}'
			ng-class='{ active : tab.active }'>

				<div class='pad height3 inlineBlock' ng-click='activate(tab)'>
					<!-- editor tab title -->
					<span class='tab-title'>
						{{ tab.title }}
					</span>
				</div>

				<div class='pad inlineBlock width3 height3 playbook-editor-tab-close' ng-click='close(tab)'>
					<!-- close button -->
					<span class='glyphicon glyphicon-remove'>
					</span>
				</div>

		</div>

		<!-- new editor tab button -->
		<div id='playbook-editor-new-tab' 
			class='playbook-editor-tab height3 pad1 gray-bg-5-hover pointer' 
			ng-click='new()'>
			
			<!-- plus icon -->
			<span class='glyphicon glyphicon-plus'></span>

		</div>

	</div>

	<!-- canvas -->
	<!-- <ng-include ng-repeat='tab in tabs'
	 	class='col'
		ng-attr-src='templates.canvas'>
	</ng-include> -->

</div>