<div ng-controller='details.ctrl'>
	
	<div class='marginLeft3 pad padBottom0'>
		<h4>
			<span class='glyphicon glyphicon-info-sign'></span>
			Details
		</h4>
	</div>

	<div class='pad'>
					
		<!-- Manage associations -->
		<div ng-repeat='element in selectedElements.toArray()'>

			<div class='marginBottom1'>
				<h4>
					<strong>
						<type-formatter
							value='element.impaktDataType'
							type='Common.Enums.ImpaktDataTypes'>
						</type-formatter>
					</strong>:
					<input type='text' ng-model='element.name' />
				</h4>
				
				<button class='blue-bg-hover pointer height3 pad'
					ng-click='update(element)'>
					<span class='glyphicon glyphicon-ok'></span>
					save
				</button>

			</div>

			<details open>

				<summary><strong>{{associations.count()}}</strong> Associations</summary>

				<div class='marginTop1 padLeft1 light-border-left'>
					<div class='light-border-bottom marginBottom1'
						ng-repeat='associableKey in element.associable'>
						
						<p class='marginBottom02'>
							<span camel-case-to-space string='{{associableKey}}' capitalize='true'></span>
						</p>

						<association-input
							entity='element'
							associations='associations'
							key='{{associableKey}}'>
						</association-input>

					</div>

				</div>
			</details>

			<div class='pad'>
				<!-- delete entity -->
				<div class='height3 pad red-bg-hover pointer width7' 
					ng-click='delete(element)'>
					<span class='glyphicon glyphicon-remove'></span>
					<span>delete</span>
				</div>
			</div>

		</div>

	</div>
	
</div>