<div class='col pad'>

	<!-- League -->
	<div class='marginBottom1'>
		<league-item league='league' class='fontSize15'></league-item>
	</div>
 
	<div class='marginBottom1'>
		<h5><strong>{{league.name}}</strong> Conferences ({{conferences.size()}})</h5>
	</div>

	<div class='marginBottom1'>
		<button class='green-bg-hover pointer pad'
			ng-click='createConference()'
			title='Create a new conference for {{league.name}}'>
			<span class='glyphicon glyphicon-plus'></span>
			conference
		</button>
	</div>

	<!-- Conferences -->
	<conference-item 
		conference='conference' 
		ng-repeat='conference in conferences.toArray()'>	
	</conference-item>

</div>