
<!-- User template -->
<div class='col'>
	<div id='main-profile-controls' class='col' 
		ng-controller='impakt.user.ctrl' ng-init='showUserSettings = false'>
		
		<div class='col positionRelative' ng-click='profileClick(); showUserSettings = !showUserSettings'>
			<div id='main-profile-image' class='height4 width4 margin'></div>

			<div id='main-profile-settings-container' class='col pad1' ng-show='showUserSettings'>
				<!-- <div id='main-profile-user-fullname' class='marginTop1'>
					<span class='pointer font-grey'>
						Coach Brown
					</span>
				</div> -->
				<div id='main-profile-logout'>
					<span class='pointer font-grey' ng-click='logout()'>
						logout
					</span>
				</div>
			</div>

		</div>
	</div>
</div>