.planning-editor-practice-plan-table {
	width: 100%;
	text-align: left;
}

.planning-editor-practice-plan-table input[type='text'],
.planning-editor-practice-plan-table input[type='number'] {
	-webkit-text-fill-color: #000;
	-webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset;
}
.planning-editor-practice-plan-table select,
.planning-editor-practice-plan-table option,
.planning-editor-practice-plan-table input[type='text'],
.planning-editor-practice-plan-table input[type='number'] {
	background-color:  rgba(0, 0, 0, 0);
	color: #000;	
	margin: 0;
	padding: 0;
	border: none;
	font-weight: normal;
	height: 1.75em;
	text-align: center;
	width: 100%;
}	