<div class="modal-header">
    <h3 class="modal-title">Create Playbook</h3>
</div>
<div class="modal-body">
	<div class='marginBottom2'>
		<p>Playbook name</p>
	    <input type='text' ng-model='newPlaybookModel.name' 
	        placeholder='Playbook name?' />
    </div>	

    <div>
    	<div class='marginBottom1'>
    		<p>Unit:</p>
    	</div>
	    
    	<div class='marginBottom1' ng-repeat='unitTypeModel in unitTypeCollection.toArray()'>
    		<label for='{{unitTypeModel.name}}' class='row'>
	    		<input type='radio' 
	    			ng-model='$parent.selectedUnitType.unitType'
	    			ng-value='unitTypeModel.unitType'
	    			name='{{unitTypeModel.name}}'
	    			required />
		    	<span class='marginLeft1'>{{unitTypeModel.name}}</span>
		    </label>
    	</div>
    </div>
 	<!-- {{selectedUnitType.toJson()}} -->
 	<!-- {{newPlaybookModel.toJson()}} -->

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>