<div class="modal-header">
    <h3 class="modal-title">
        Save &quot;{{scenario.name}}&quot;
    </h3>
</div>
<div class="modal-body col">

    <div class='row'>
        <div class='marginRight1 width30 center'>
            <scenario-preview 
                class='height35 width30' 
                scenario='scenario'>
            </scenario-preview>
        </div>

        <div class='col'>
            <div class='marginBottom1 light-border-bottom' ng-if='scenario.playPrimary'>
                <p>{{scenario.playPrimary.name}}</p>
                <div ng-if='scenario.playPrimary.formation'>
                    <p><strong>Formation: </strong>{{scenario.playPrimary.formation.name}}</p>
                </div>
                <div ng-if='scenario.playPrimary.personnel'>
                    <p><strong>Personnel: </strong>{{scenario.playPrimary.personnel.name}}</p>
                </div>
                <div ng-if='scenario.playPrimary.assignmentGroup'>
                    <p><strong>Assignment group: </strong>{{scenario.playPrimary.assignmentGroup.name}}</p>
                </div>
            </div>
            <div class='marginBottom1' ng-if='scenario.playOpponent'>
                <p>{{scenario.playOpponent.name}}</p>
                <div ng-if='scenario.playOpponent.formation'>
                    <p><strong>Formation: </strong>{{scenario.playOpponent.formation.name}}</p>
                </div>
                <div ng-if='scenario.playOpponent.personnel'>
                    <p><strong>Personnel: </strong>{{scenario.playOpponent.personnel.name}}</p>
                </div>
                <div ng-if='scenario.playOpponent.assignmentGroup'>
                    <p><strong>Assignment group: </strong>{{scenario.playOpponent.assignmentGroup.name}}</p>
                </div>
            </div>
        </div>

    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">save</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">cancel</button>
</div>