<sliding-panel ng-controller='playbook.editor.details.ctrl'>

	<div class='marginLeft3 pad padBottom0'>
		<h4>
			<span class='glyphicon glyphicon-info-sign'></span>
			Details
		</h4>
	</div>
	
	<div>
		<div class='pad light-border-bottom'>
			<details>
				<summary><strong>Primary play</strong>: &quot;{{canvas.scenario.playPrimary.name}}&quot;</summary>
				<div class='pad'>
					<div class='marginBottom1'>
						<div><strong>Formation:</strong> {{canvas.scenario.playPrimary.formation.name}}</div>
						<div><strong>Personnel:</strong> {{canvas.scenario.playPrimary.personnel.name}}</div>
						<div><strong>Assignments:</strong> {{canvas.scenario.playPrimary.assignments.name}}</div>
						<div><strong>Unit:</strong> 
							<type-formatter 
								value='canvas.scenario.playPrimary.unitType'
								type='Team.Enums.UnitTypes'>
							</type-formatter> 
						</div>
					</div>
					<!-- <scenario-preview 
						scenario='canvas.scenario' 
						class='height28 width35'>
					</scenario-preview>	 -->			
				</div>
			</details>
		</div>

		<div class='pad light-border-bottom'>
			<details>
				<summary><strong>Selected elements</strong>: ({{selectedElements.size()}})</summary>
				<div class='pad' ng-repeat='selection in selectedElements.toArray()'>
					* <type-formatter 
						type='Common.Enums.LayerTypes' 
						value='selection.layer.type'>
					</type-formatter>
				</div>
			</details>
		</div>

		<div class='pad light-border-bottom'>
			<details>
				<summary><strong>Players</strong>: ({{players.size()}})</summary>
				<div class='pad'>
					<div ng-repeat='player in players.toArray()'
						class='marginBottom1'>
						<div>
							<span><strong>Index: </strong></span>
							<span>{{player.position.index}}</span>
						</div>
						<div>
							<span><strong>Position: </strong></span>
							<span>{{player.position.title}} ({{player.position.label}})</span>
						</div>
						<div>
							<span><strong>Relative: </strong></span>
							<span>({{player.icon.layer.graphics.placement.relative.rx}},
							{{player.icon.layer.graphics.placement.relative.ry}})</span>
						</div>
						<div>
							<span><strong>Coordinates: </strong></span>
							<span>({{player.icon.layer.graphics.placement.coordinates.x}},{{
							player.icon.layer.graphics.placement.coordinates.y}})</span>
						</div>
						<div>
							<span><strong>Absolute: </strong></span>
							<span>({{player.icon.layer.graphics.location.ax}},
							{{player.icon.layer.graphics.location.ay}})</span>
						</div>
						<div>
							<span><strong>Original: </strong></span>
							<span>({{player.icon.layer.graphics.location.ox}},
							{{player.icon.layer.graphics.location.oy}})</span>
						</div>
					</div>
				</div>
			</details>
		</div>

		<div class='pad light-border-bottom marginBottom1'>
			<details open>
				<summary><strong>Layers</strong>: ({{layers.size() + 1}})</summary>
				<div>

					<!-- TODO @theBull - implement group by; currently a performance issue in angular-filter.js -->
					<ul ng-repeat='layer in layers.toArray()'>
						<!-- <p class='pad'>
							<type-formatter 
								type='Common.Enums.LayerTypes' 
								value='key'>
							</type-formatter>
						</p> -->
						<li class='pad row padLeft2'>
							<div class='marginRight1'>
								<input type='checkbox' />
							</div>
							<div>
								<type-formatter 
									type='Common.Enums.LayerTypes' 
									value='layer.type'>
								</type-formatter>
							</div>
						</li>
					</ul>
				</div>
			</details>
		</div>

	</div>
	
</sliding-panel>
