<div class="modal-header">
    <h3 class="modal-title">Create Play</h3>
</div>
<div class="modal-body">
    <div class='row'>

        <!-- Play details -->
        <div class='col marginRight2'>
        	<div class='marginBottom2'>
                <p>Play name</p>
        	    <input type='text' ng-model='newPlay.name' 
        	        placeholder='Play name?' />
            </div>	

            <div class='marginBottom2'>
                <p>Unit type</p>
                <div ng-repeat='unitType in unitTypeCollection.toArray()'>
            	    <label class='pointer gray-bg-0-hover row'>
        		    	<div class='width1 marginRight1'>
        		    		<input type='radio' 
        		    			ng-model='selectedUnitType.unitType'
        		    			ng-value='unitType.unitType'
                                ng-change='selectUnitType()'
        		    			name='unitType' />
        		    	</div>
        		    	<span>{{unitType.name}} ({{unitType.unitType}})</span>
            	    </label>
                </div>
            </div>

            <div class='marginBottom2'>

                <div class='marginBottom1'>
                    Playbook
                    <div ng-show='playbooks.hasElements()'>
                        <select ng-options='playbook as playbook.name for playbook in playbooks.toArray()'
                            ng-model='selectedPlaybook'
                            ng-change='selectPlaybook(selectedPlaybook)'>
                        </select>
                    </div>
                    <div ng-show='playbooks.isEmpty()'>
                        <span class='marginRight1'>
                            <span class='glyphicon glyphicon-exclamation-sign'></span>
                        </span>
                        <em>There are no playbooks to add this play to.</em>
                    </div>
                </div>

                <div class='marginBottom1'>
                    Formation
                    <div ng-show='formations.hasElements()'>
                        <select ng-options='formation as formation.name for formation in formations.toArray()'
                            ng-model='selectedFormation'
                            ng-change='selectFormation(selectedFormation)'>
                        </select>
                    </div>
                    <div ng-show='formations.isEmpty()'>
                        <span class='marginRight1'>
                            <span class='glyphicon glyphicon-exclamation-sign'></span>
                        </span>
                        <em>There are no saved formations to apply.</em>
                    </div>
                </div>
            	<div class='marginBottom1'>
            		Assignments
                    <div ng-show='assignments.hasElements()'>
                		<select ng-options='assignmentSet as assignmentSet.name for assignmentSet in assignments.toArray()'
                			ng-model='selectedAssignmentSet'
                			ng-change='selectAssignments(selectedAssignmentSet)'>
                		</select>
                    </div>
                    <div ng-show='assignments.isEmpty()'>
                        <span class='marginRight1'>
                            <span class='glyphicon glyphicon-exclamation-sign'></span>
                        </span>
                        <em>There are no saved assignment sets to apply.</em>
                    </div>
            	</div>
            	<div class='marginBottom1'>
            		Personnel
                    <div ng-show='personnelCollection.hasElements()'>
                		<select ng-options='personnel as personnel.name for personnel in personnelCollection.toArray()'
                			ng-model='selectedPersonnel'
                			ng-change='selectPersonnel(selectedPersonnel)'>
                		</select>
                    </div>
                    <div ng-show='personnelCollection.isEmpty()'>
                        <span class='marginRight1'>
                            <span class='glyphicon glyphicon-exclamation-sign'></span>
                        </span>
                        <em>
                            There are no saved personnel groups to apply.
                        </em>
                        <span class='actionable' ng-click='toTeam()'>
                            Set up personnel
                        </span>
                    </div>
            	</div>
            </div>
        </div>

        <!-- Play preview -->
        <div class='col shrink'>
            <div class='center'>
                <play-preview 
                    play='newPlay' 
                    class='width35 height40'>
                </play-preview>
            </div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>