<div class='col scrollY'>

	<div class='col'>

		<div class='light-border-bottom row height3'>
			<button class='gray-bg-2-hover pointer pad'
				ng-click='toBrowser()'>
				<span class='glyphicon glyphicon-folder-open'></span>
				Browser
			</button>
			<button class='gray-bg-2-hover pointer pad'
				ng-click='toPlaybookDrilldown(playbook)'>
				<span class='glyphicon glyphicon-chevron-right'></span>
				{{playbook.name}}
			</button>
		</div>

		<!-- Main -->
		<div class='col' ui-view></div>

	</div>

</div>

<!-- Details -->
<expandable 	
	direction='left'
	collapsed='false'
	url='modules/details/details.tpl.html'>
	
</expandable>