<div
	class='col positionRelative scrollY gray-bg-3 font-white'  
	id='playbook-browser'>


  	<!-- do not add col / scroll classes to this div -->
	<div class='padBottom10 font-white' ng-show='!collapsed'>

		<div class='pad row height5'>
			<div class='height3 pad gray-bg-4-hover pointer marginRight1'
				ng-click='goToPlays()'>
				Plays
			</div>
			<div class='height3 pad gray-bg-4-hover pointer marginRight1'
				ng-click='goToFormations()'>
				Formations
			</div>
			<!-- <div class='height3 pad gray-bg-4-hover pointer marginRight1'
				ng-click='goToUnitTypes()'>
				Unit Types
			</div>
			<div class='height3 pad gray-bg-4-hover pointer marginRight1'
				ng-click='goToPlaybooks()'>
				Playbooks
			</div>
			<div class='height3 pad gray-bg-4-hover pointer marginRight1'
				ng-click='goToAssociated()'>
				Associated
			</div> -->
		</div>

		<!-- Include -->
		<div class='col' ng-include='template.url'></div>

	</div>
	
</div>