<div class='col scrollY positionRelative'>
	
	<div class='pad'>

		<div class='marginBottom1 light-border-bottom'>
			
			<h4>Leagues ({{leagues.size()}})</h4>
			<div class='pad green-bg-hover pointer marginBottom1 width6'
				ng-click='createLeague()'>
				<span class='glyphicon glyphicon-plus'></span>
				new
			</div>

			<div class='grid'>
				
				<league-item 
					league='league' 
					class='width16 marginRight1'
					ng-repeat='league in leagues.toArray()'>
				</league-item>

			</div>

		</div>

		<div class='marginBottom1 light-border-bottom'>
			
			<h4>Teams ({{teams.size()}})</h4>
			<div class='pad green-bg-hover pointer marginBottom1 width6'
				ng-click='createTeam()'>
				<span class='glyphicon glyphicon-plus'></span>
				new
			</div>

			<div class='grid'>
				<div class='marginRight1 marginBottom1 height5 width12 pad gray-bg-3-hover pointer'
					ng-repeat='team in teams.toArray()'
					ng-click='teamDrilldown(team)'>
					<strong>{{team.name}}</strong>
					<p>{{team.records.first().wins}} &mdash; {{team.records.first().losses}}</p>
				</div>
			</div>

		</div>
	</div>
	
</div>

<!-- Details -->
<expandable 	
	direction='left'
	collapsed='true'
	url='modules/details/details.tpl.html'>
	
</expandable>