<div ng-show='createPersonnelVisible'>
	<form name='create-set-form' ng-submit='ok()'>
		<div class='col'>

			<div>

				<h4>Existing Sets</h4>
				<select 
					ng-options='key as set.name for (key, set) in personnelSets.getAll()'
					ng-model='setTemplateKey'
					ng-change='selectSetTemplate()'>
			    	<option value=''>---</option>
			    </select>

				<input type='text' 
					class='fontSize18'
					ng-model='setName' 
					placeholder='Set name?' />
			</div>

			

			<div class='col marginTop2'>
				<h4>Personnel labels</h4>

				<div>
			    	<ul class='col'>

			    		<div class='row height3 textLeft'>
		    				<div class='width5 padTop1 padRight1 padBottom1'>
		    					Index
		    				</div>
			    			<div class='minWidth10 padTop1 padRight2 padBottom1'>
		    					Position
		    				</div>
		    				<div class='width5 padTop1 padRight1 padBottom1'>
		    					Label
		    				</div>
		    				<div class='width5 padTop1 padRight1 padBottom1'>
		    					Eligible
		    				</div>
		    			</div>

			    		<li ng-repeat='position in positions track by $index'>
			    			
		    	   			<div class='row'>
				    			<div class='width5 pad'>
				    				<!-- Index -->
				    				{{$index + 1}}
				    			</div>
		    	   				<div class='minWidth10 padRight1 width4'>
		    	   					<!-- Position -->
		    	   					<select 
		    	   						ng-options='positionItem.positionListValue as positionItem.title for positionItem in positionList'
		    	   						ng-change='update(position, position.positionListValue, $index)'
		    	   						ng-model='position.positionListValue'>
		    	   						<option value=''>---</option>
		    	   					</select>
		    	   				</div>
				    			<div class='width5'>
				    				<!-- Label -->
				    				<input type='text'
				    					disabled="disabled" 
				    					ng-model='position.label' 
				    					value='position.label'
				    					class='width3 textCenter'
				    					tab-index='{{$index}}' />
				    			</div>
				    			<div class='width5 pad'>
				    				<!-- Eligible -->
				    				<input type='checkbox'
				    					ng-checked='position.eligible'
				    					ng-model='position.eligible' 
				    					tab-index='{{positions.length + 1 + $index}}'/>
				    			</div>
			    			</div>

			    		</li>
			    	</ul>
			    </div>

	    	</div>

	    </div>
    </form>
</div>