/*
*	PLAYBOOK MODULE
*/
#impakt-playbook-controls {
	background-color: #333;
}

.playbook-editor-type-formation {
	border-left: 3px solid #3377ff;
}
.playbook-editor-type-assignment {
	border-left: 3px solid #71B127;
}
.playbook-editor-type-play {
	border-left: 3px solid #71B127;
}

/* 
========== PLAYBOOK MODULE IMPORTS ==========
*/
@import './editor/playbook-editor',
'./browser/playbook-browser';