<div class='row pad' ng-controller='home.ctrl'>
	
	<div class='col'>
		<div class='padBottom1 marginBottom2 light-border-bottom'>
			<div class='marginBottom1'>
				<h2>Home</h2>
			</div>

			<div>
				<h3>{{currentOrganization.name}}</h3>
			</div>
		</div>

		<h4>Quick launch</h4>
		<div class='grid'>
			
			<div
				ng-repeat='menuItem in menuItems.toArray()' 
				class='height10 width12 pad marginRight1 marginBottom1 gray-bg-3-hover pointer'
				ng-click='goTo(menuItem)'>
				<div class='marginBottom1'>
					<p><span ng-attr-class='{{ "glyphicon glyphicon-" + menuItem.glyphicon }}'></span>	{{menuItem.label}}</p>
				</div>
			</div>
			
		</div>
	</div>
</div>