

<div ng-controller='playbook.editor.canvas.ctrl' 
	class='playbook-editor-canvas-container col'>

	<!-- <div class='col font-white pad'
		ng-show='!hasOpenTabs'>
		<div class='center'>
			<div class='height6 textCenter'>
				<div class='marginBottom1'>
					Open a file to begin editing.
				</div>
				<h4 class='actionable' ng-click='toBrowser()'>
					<span class='glyphicon glyphicon-folder-open'></span>
					Browse files...
				</h4>
			</div>
		</div>
	</div> -->
	
	<div class='col'>
	
		<div class='playbook-editor-play-info row 
			gray-bg-3
			height3 font-white overflowVisible {{editorModeClass}}'>

			<div class='pad'>
				<strong>(Primary: &quot;{{canvas.playPrimary.name}}&quot;)</strong>
			</div>

			<!-- Unit type -->
			<div class='pointer positionRelative'
				ng-init='unitTypeDropdownVisible = false'>
				<div class='row height3 pad'
					ng-click='unitTypeDropdownVisible = !unitTypeDropdownVisible'>
					<div class='marginRight1'>
						Unit type:  
						<type-formatter
							value='canvas.playPrimary.unitType'
							type='Team.Enums.UnitTypes'>
						</type-formatter>
						
					</div>
					<div class='glyphicon glyphicon-chevron-down'>
					</div>
				</div>
				<div class='col minWidth20 dropdown heightAuto'
					ng-show='unitTypeDropdownVisible'>
					<!-- list of formations -->
					<ul>
						<li ng-repeat='unitType in unitTypes.toArray()'
							class='pad pointer gray-bg-4-hover'
							ng-click='applyUnitType(unitType)'>
							<type-formatter
								value='unitType.unitType'
								type='Team.Enums.UnitTypes'>
							</type-formatter>
						</li>
					</ul>
				</div>
			</div>

			<!-- Editor type message -->
			<div class='pad'>
				<div>
					Mode:
					<type-formatter 
						value='canvas.playPrimary.editorType'
						type='Playbook.Enums.EditorTypes'>
					</type-formatter>
					<!-- <span class='marginLeft1 actionable' ng-click='switchToPlayMode()'>
						Switch to play mode
					</span> -->
				</div>
			</div>

			<!-- <popout 
				open='down' 
				data='tab.play.formation'
				label='tab.play.formation.name'
				ng-show='isFormationVisible(tab.play.editorType)'>
				<popout-toggle >
					
				</popout-toggle>

				<popout-contents class='gray-bg-5'>
					
					<p>Formations</p>
					<div ng-repeat='formation in formations.toArray()'
						class='pointer gray-bg-5-hover'>
						{{formation.name}}
					</div>
				</popout-contents>

			</popout> -->

			<!-- Formation dropdown -->
			<div class='pointer positionRelative'
				ng-init='formationDropdownVisible = false'
				ng-show='isFormationVisible(canvas.playPrimary.editorType)'>
				<div class='row height3 pad'
					ng-click='formationDropdownVisible = !formationDropdownVisible'>
					<div class='marginRight1'>
						Formation:  
						<strong>
							{{canvas.playPrimary.formation.name}}
							<span ng-show='canvas.playPrimary.formation.modified'>*</span>
						</strong>
						
					</div>
					<div class='glyphicon glyphicon-chevron-down'>
					</div>
				</div>
				<div class='col minWidth20 dropdown heightAuto'
					ng-show='formationDropdownVisible'>
					<!-- list of formations -->
					<ul>
						<li ng-repeat='formation in formations.toArray() | filter:{unitType: canvas.playPrimary.unitType}'
							class='pad pointer gray-bg-4-hover'
							ng-click='applyFormation(formation)'>
							{{formation.name}}
							<span ng-show='formation.modified'>*</span>
						</li>
					</ul>
				</div>
			</div>

			<!-- Personnel dropdown -->
			<div class='pointer positionRelative'
				ng-init='personnelDropdownVisible = false'
				ng-show='isPersonnelVisible(canvas.playPrimary.editorType)'>
				<div class='row height3 pad'
					ng-click='personnelDropdownVisible = !personnelDropdownVisible'>
					<div class='marginRight1'>
						Personnel:  <strong>{{canvas.playPrimary.personnel.name}}</strong>
					</div>
					<div class='glyphicon glyphicon-chevron-down'>
					</div>
				</div>
				<div class='col minWidth20 dropdown heightAuto'
					ng-show='personnelDropdownVisible'>
					<!-- list of personnel -->
					<ul>
						<li ng-repeat='personnel in personnelCollection.toArray() | filter:{unitType: canvas.playPrimary.unitType}'
							class='pad pointer gray-bg-4-hover'
							ng-click='applyPersonnel(personnel)'>
							{{personnel.name}}
						</li>
					</ul>
				</div>
			</div>

			<!-- Assignments dropdown -->
			<div class='pointer positionRelative'
				ng-init='assignmentGroupsDropdownVisible = false'
				ng-show='isAssignmentGroupsVisible(canvas.playPrimary.editorType)'>
				<div class='row height3 pad'
					ng-click='assignmentGroupsDropdownVisible = !assignmentGroupsDropdownVisible'>
					<div class='marginRight1'>
						Assignments:  
						<strong>
							{{canvas.playPrimary.assignmentGroup.name}}
						</strong>
					</div>
					<div class='glyphicon glyphicon-chevron-down'>
					</div>
				</div>
				<div class='col minWidth20 dropdown heightAuto'
					ng-show='assignmentGroupsDropdownVisible'>
					<!-- list of plays -->
					<ul>
						<li ng-repeat='assignmentGroup in assignmentGroups.toArray() | filter:{unitType: canvas.playPrimary.unitType}'
							class='pad pointer gray-bg-4-hover'
							ng-click='applyAssignmentGroup(assignmentGroup)'>
							{{assignmentGroup.name}}
						</li>
					</ul>
				</div>
			</div>

		</div>

		<div class='row gray-bg-4'>

			<!-- tools -->
			<div class='shrink'>
				<ng-include class='col shrink'
					ng-attr-src='templates.tools'>
				</ng-include>
			</div>

			<div class='col'>
				<playbook-editor-canvas
					editortype='{{canvas.playPrimary.editorType}}'
					key='{{key}}'
					scrollable
					class='col playbook-editor-canvas'>
				</playbook-editor-canvas>

				<!-- canvas info -->
				<ng-include class='height3'
					ng-attr-src='templates.mode'>
				</ng-include>
			</div>			

		</div>
	
	</div>

</div>