<div class="modal-header">
    <h3 class="modal-title">Create Formation</h3>
</div>
<div class="modal-body">
    <div class='row'>
        <div class='col'>
            <div class='marginBottom2'>
                <p>Formation name</p>
                <input type='text' ng-model='play.formation.name' 
                    placeholder='Formation name?' />
            </div>

            <div class='marginBottom2'>
                <p>Unit type</p>
                <div ng-repeat='unitType in unitTypeCollection.toArray()'>
                    <label class='pointer gray-bg-0-hover row'>
                        <div class='width1 marginRight1'>
                            <input type='radio' 
                                ng-model='selectedUnitType.unitType'
                                ng-value='unitType.unitType'
                                ng-change='selectUnitType()'
                                name='unitType' />
                        </div>
                        <span>{{unitType.name}} ({{unitType.unitType}})</span>
                    </label>
                </div>
            </div>

            <div class='marginBottom1'>
                Playbook
                <div ng-show='playbooks.hasElements()'>
                    <select ng-options='playbook as playbook.name for playbook in playbooks.toArray()'
                        ng-model='selectedPlaybook'
                        ng-change='selectPlaybook(selectedPlaybook)'>
                    </select>
                </div>
                <div ng-show='playbooks.isEmpty()'>
                    <span class='marginRight1'>
                        <span class='glyphicon glyphicon-exclamation-sign'></span>
                    </span>
                    <em>There are no playbooks to add this formation to.</em>
                </div>
            </div>
            <div class='marginBottom1'>
                Base formation
                <div ng-show='formations.hasElements()'>
                <select ng-options='baseFormation as baseFormation.name for baseFormation in formations.toArray()'
                    ng-model='selectedBaseFormation'
                    ng-change='selectBaseFormation(selectedBaseFormation)'>
                    <option ng-value=''>---</option>
                </select>
                </div>
            </div>

        </div>
        <div class='col width37 pad'>
            <div class='center'>
                <formation-preview play='play' class='height30 width35'></formation-preview>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>