<!-- playbook browser set drilldown -->

<li class='row pointer dark-bg-hover'>

	<div class='row height3 padLeft4'>
		<div class='row margin1'
			ng-click=''>
			<span class='glyphicon glyphicon-user marginRight1'></span>TODO: Set name
		</div>

		<div class='pad right0 height3'>
			<div class='glyphicon glyphicon-remove'
				ng-click=''></div>
			<div class='glyphicon glyphicon-chevron-down'></div>
		</div> 
	</div>
</li>
<li class='row pointer dark-bg-hover padLeft4'
	ng-click='createSet(formation)'>
	<div class='pad1 width1 glyphicon glyphicon-plus'></div>
	<div class='margin1'>New set</div>
</li>
<li class='row pointer dark-bg-hover padLeft4'
	ng-click='deleteFormation(playbook, formation)'>
		<div class='pad1 width1 glyphicon glyphicon-remove'></div>
		<div class='margin1'>Delete formation</div>
</li>