<div class="modal-header">
    <h3 class="modal-title">Create Team</h3>
</div>
<div class="modal-body">
	<div class='marginBottom2'>
	    <input 
            type='text' 
            ng-model='newTeamModel.name' 
	        ng-placeholder='Team name' />
    </div>	

    <div class='marginBottom2'>
        <p>Division</p>
        <select 
            ng-options='division as division.name for division in divisions.toArray()'
            ng-model='selectedDivision'
            ng-change='selectDivision'>
        </select>
    </div>

    <div class='marginBottom2'>
        <p>Location</p>
        <div class='row shrinkY'>
            <div class='col marginRight1'>
                <select 
                    ng-options='location as locations.name for location in locations.toArray()'
                    ng-model='selectedLocation'
                    ng-change='selectLocation'>
                </select>
            </div>
            <div class='col'>
                <button class='green-bg-hover pointer'
                    ng-click='createLocation()'>
                    <span class='glyphicon glyphicon-plus'></span>
                    location
                </button>
            </div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>