<div class="modal-header">
    <h3 class="modal-title">Create Team</h3>
</div>
<div class="modal-body">
	<div class='marginBottom2'>
		<p>Team name</p>
	    <input type='text' ng-model='newTeamModel.name' 
	        placeholder='Team name?' />
    </div>	

    <div>
    	<div class='marginBottom1'>
    		<p>Team type</p>
    	</div>
	    
    	<div>
            <label ng-repeat='(enum, teamType) in teamTypes' class='row'>
                <div class='marginRight1'>
                    <input type='radio'
                        ng-model='newTeamModel.teamType'
                        ng-value='enum'
                    />
                </div> 
                {{teamType}}
            </label>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>