<header class='row dark-bg'>

	<!-- <div class='col width30'>
		<header class='row height5' id='impakt-browser-search'>
			<div class='impakt-main-logo height3 width3 margin'></div>
			
			<div class='height5 pad row width25'>
				<div class="input-group">
					
					<input type="text" class="form-control" aria-label="...">
					
					<div class="input-group-btn">
			            <button type="button" class="btn btn-default">
			            	<span class='glyphicon glyphicon-search'></span>
			            </button>
			            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
			              <span class="caret"></span>
			              <span class="sr-only">Toggle Dropdown</span>
			            </button>
			            <ul class="dropdown-menu dropdown-menu-right" role="menu">
			              <li><a href="#">Action</a></li>
			              <li><a href="#">Another action</a></li>
			              <li><a href="#">Something else here</a></li>
			              <li class="divider"></li>
			              <li><a href="#">Separated link</a></li>
			            </ul>
					</div>
				</div>
			</div>
		</header>
	</div>

	<nav class='col minWidth35'>
		<ul>
			<li ng-repeat='navItem in navItems' class='height5 width10 pad2 black-gradient-bg-hover' 
				ng-class='{ active: navItem.isActive }' ng-click='navClick(navItem)'>
					{{ navItem.label }}
			</li>
		</ul>
	</nav>
	 -->

</header>