<div class='col left6 top0 minHeight5 
	gray-bg-7 font-white light-border-right light-border-bottom' 
	ng-show='searchMenuItem.active'
	ng-controller='search.ctrl'>	
		
	<div class='positionRelative'>
		<input 
			type='text' 
			class='fontSize20'
			placeholder='Search'
			ng-model='searchQuery' />
		<div class='right1 top1 height3 width3 circle-bg pointer gray-bg-2-hover dark-border'
			ng-click='searchQuery = ""'>
			<span class='glyphicon glyphicon-remove'></span>
		</div>
	</div>

	<div class='col pad gray-bg-4'>
		<div class='marginBottom1'>
			{{title}}
		</div>

		<!-- Playbooks -->
		<div class='marginBottom1'>
			<p><strong>Playbooks ({{playbooks.size()}})</strong></p>
			<div ng-repeat='playbook in playbooks.toArray() | filter: {name: searchQuery}' 
				class='pad gray-bg-2-hover pointer playbook-editor-type-playbook'> 
				{{playbook.name}}
			</div>
		</div>

		<!-- Plays -->
		<div class='marginBottom1'>
			<p><strong>Plays ({{plays.size()}})</strong></p>
			<div ng-repeat='play in plays.toArray() | filter: {name: searchQuery}' 
				class='pad gray-bg-2-hover pointer playbook-editor-type-play'>
				{{play.name}}
			</div>
		</div>

		<!-- Formations -->
		<div class='marginBottom1'>
			<p><strong>Formations ({{formations.size()}})</strong></p>
			<div ng-repeat='formations in formations.toArray() | filter: {name: searchQuery}' 
				class='pad gray-bg-2-hover pointer playbook-editor-type-formation'>
				{{formations.name}}
			</div>
		</div>

	</div>
</div>