<div class='col scrollY positionRelative'>

	<div class='pad'>
		<div ng-show='editor.scenarios.hasElements()' class='marginBottom1 light-border-bottom'>
			<h4>Open in editor</h4>
			
			<span ng-repeat='scenario in editor.scenarios.toArray() | orderBy: "editorType"'
				class='gray-bg-3-hover pad marginRight1 marginBottom1 pointer {{getEditorTypeClass(scenario.editorType)}}'
				ng-click='openEditor()'>
				{{scenario.name}}
			</span>
			
		</div>

		<div class='marginBottom1'>
			<h4>Playbooks ({{playbooks.size()}})</h4>
			<button class='pad green-bg-hover pointer marginBottom1'
				ng-click='createPlaybook()'>
				<span class='glyphicon glyphicon-plus'></span>
				playbook
			</button>

			<playbook-item
				playbook='playbook'
				ng-repeat='playbook in playbooks.toArray()'>
			</playbook-item>
			
		</div>
		
	</div>

</div>

<!-- Details -->
<expandable 	
	direction='left'
	collapsed='true'
	url='modules/details/details.tpl.html'>
	
</expandable>