<div class='col scrollY positionRelative'>

	<div class='pad'>
		<div ng-show='editor.plays.hasElements()'>
			<h4>Open in editor</h4>
			
			<span ng-repeat='play in editor.plays.toArray() | orderBy: "editorType"'
				class='gray-bg-3-hover pad marginRight1 pointer {{getEditorTypeClass(play.editorType)}}'
				ng-click='openEditor()'>
				{{play.name}}
			</span>
			
		</div>

		<div>
			<h4>Playbooks ({{playbooks.size()}})</h4>
			<div class='pad green-bg-hover pointer marginBottom1 width6'
				ng-click='createPlaybook()'>
				<span class='glyphicon glyphicon-plus'></span>
				new
			</div>
			<div class='grid ratio1'>
				<div 
					ng-repeat='playbook in playbooks.toArray()'
					class='inlineBlock pad gray-bg-3-hover marginBottom1 marginRight1 height18 width14 pointer positionRelative'
					ng-mouseover='viewVisible = true'
					ng-mouseout='viewVisible = false'
					ng-init='viewVisible = false'>

					<div class='top0 right0 pad gray-bg-2-hover opacity09' 
						ng-show='viewVisible'
						ng-click='toPlaybookDrilldown(playbook)'>
						view
						<span class='glyphicon glyphicon-eye-open' 
							title='Open playbook'>
						</span>
					</div>

					<div class='row'>
						<h5>
							{{playbook.name}}
						</h5>
					</div>
					<p>
						<type-formatter 
							value='playbook.unitType' 
							type='Team.Enums.UnitTypes'>
						</type-formatter>
					</p>
					<p>
						({{playbook.associated.size()}} associated)
					</p>
				</div>
			</div>

		</div>

		<!-- PLAYS -->
		<div>
			<h4>Plays ({{plays.size()}})</h4>
			<div ng-show='formations.hasElements()'>
				<div class='pad green-bg-hover pointer marginBottom1 width6'
					 ng-click='createPlay()'>
					<span class='glyphicon glyphicon-plus'></span>
					new
				</div>
			</div>
			<div ng-show='formations.isEmpty() || playbooks.isEmpty()'>
				<div class='pad gray-bg-3-hover pointer marginBottom1 width6' 
					ng-click='alertDataRequired("plays")'>
					<strike>
						<span class='glyphicon glyphicon-plus'></span>
						new
					</strike>
				</div>
				<div class='pad' ng-show='playbooks.hasElements()'>
					<span class='glyphicon glyphicon-warning-sign'></span>
					<span>Create a base formation to begin creating plays</span>
				</div>
				<div class='pad' ng-show='playbooks.isEmpty()'>
					<span class='glyphicon glyphicon-warning-sign'></span>
					<span>Create a playbook to begin creating plays</span>
				</div>
			</div>

			<div class='grid'>
				<play-item 
					play='play'
					ng-repeat='play in plays.toArray()'>
				</play-item>
			</div>
		</div>

		<!-- SCENARIOS -->
		<div>
			<h4>Scenarios ({{scenarios.size()}})</h4>
			<div ng-show='plays.hasElements()'>
				<div class='pad green-bg-hover pointer marginBottom1 width6'
					 ng-click='createScenario()'>
					<span class='glyphicon glyphicon-plus'></span>
					new
				</div>
			</div>
			<div ng-show='plays.isEmpty() || playbooks.isEmpty()'>
				<div class='pad gray-bg-3-hover pointer marginBottom1 width6' 
					ng-click='alertDataRequired("scenarios")'>
					<strike>
						<span class='glyphicon glyphicon-plus'></span>
						new
					</strike>
				</div>
				<div class='pad' ng-show='playbooks.hasElements()'>
					<span class='glyphicon glyphicon-warning-sign'></span>
					<span>Create a base formation to begin creating scenarios</span>
				</div>
				<div class='pad' ng-show='playbooks.isEmpty()'>
					<span class='glyphicon glyphicon-warning-sign'></span>
					<span>Create a playbook to begin creating scenarios</span>
				</div>
			</div>

			<div class='grid'>
				<div 
					ng-repeat='scenario in scenarios.toArray()'
					class='positionRelative gray-bg-3-hover marginBottom1 height21 width18 pointer marginRight1 positionRelative overflowHidden'
					ng-mouseover='editVisible = true'
					ng-mouseout='editVisible = false'
					ng-init='editVisible = false'>
					<div class='col positionRelative'>
						
						<div class='right0 top0 pad gray-bg-2-hover opacity09' 
							ng-show='editVisible'
							ng-click='openScenarioInEditor(scenario)'>
							edit
							<span class='glyphicon glyphicon-pencil' 
								title='Edit scenario'>
							</span>
						</div>
						
						<div class='pad'>
							<div class='row'>
								<p>
									{{scenario.name}}
								</p>
							</div>
						</div>					

						<scenario-thumbnail scenario='scenario' class='height18'>
						</scenario-thumbnail>				

						<div class='pad gray-bg-2 opacity09 bottom0 left0 fontSize8'>
							<type-formatter
								value='scenario.unitType'
								type='Team.Enums.UnitTypes'>
							</type-formatter>
						</div>		

					</div>
					
				</div>
			</div>
		</div>

		<!-- FORMATIONS -->
		<div>
			<h4>Formations ({{formations.size()}})</h4>
			
			<div class='pad green-bg-hover pointer marginBottom1 width6'
				ng-click='createFormation()'
				ng-show='playbooks.hasElements()'>
				<span class='glyphicon glyphicon-plus'></span>
				new
			</div>
			<div ng-show='playbooks.isEmpty()'>
				<div class='pad gray-bg-3-hover pointer marginBottom1 width6' 
					ng-click='alertDataRequired("formations")'>
					<strike>
						<span class='glyphicon glyphicon-plus'></span>
						new
					</strike>
				</div>
				<div class='pad'>
					<span class='glyphicon glyphicon-warning-sign'></span>
					<span>Create a playbook to begin creating formations.</span>
				</div>
			</div>


			<div class='grid'>
				
				<formation-item
					ng-repeat='formation in formations.toArray()'
					formation='formation'>
				</formation-item>

			</div>
		</div>
	</div>

</div>

<!-- Details -->
<expandable 	
	direction='left'
	collapsed='collapsed'
	url='modules/details/details.tpl.html'>
	
</expandable>